[submodule "Investigating-Netflix-Movies"]
	path = Investigating-Netflix-Movies
	url = https://github.com/MennaHefny25/Investigating-Netflix-Movies.git
[submodule "Exploring-NYC-Public-School-Test-Result-Scores"]
	path = Exploring-NYC-Public-School-Test-Result-Scores
	url = https://github.com/MennaHefny25/Exploring-NYC-Public-School-Test-Result-Scores.git
[submodule "Visualizing-the-History-of-Nobel-Prize-Winners"]
	path = Visualizing-the-History-of-Nobel-Prize-Winners
	url = https://github.com/MennaHefny25/Visualizing-the-History-of-Nobel-Prize-Winners.git
[submodule "Analyzing-Crime-in-Los-Angeles"]
	path = Analyzing-Crime-in-Los-Angeles
	url = https://github.com/MennaHefny25/Analyzing-Crime-in-Los-Angeles.git
[submodule "Customer-Analytics-Preparing-Data-for-Modeling"]
	path = Customer-Analytics-Preparing-Data-for-Modeling
	url = https://github.com/MennaHefny25/Customer-Analytics-Preparing-Data-for-Modeling.git
[submodule "Exploring-Airbnb-Market-Trends"]
	path = Exploring-Airbnb-Market-Trends
	url = https://github.com/MennaHefny25/Exploring-Airbnb-Market-Trends.git
