[submodule "Generating-Keywords-for-Google-Ads"]
	path = Generating-Keywords-for-Google-Ads
	url = https://github.com/MennaHefny25/Generating-Keywords-for-Google-Ads.git
[submodule "The-Android-App-Market-on-Google-Play"]
	path = The-Android-App-Market-on-Google-Play
	url = https://github.com/MennaHefny25/The-Android-App-Market-on-Google-Play.git
