[submodule "Generating-Keywords-for-Google-Ads"]
	path = Generating-Keywords-for-Google-Ads
	url = https://github.com/MennaHefny25/Generating-Keywords-for-Google-Ads.git
[submodule "The-Android-App-Market-on-Google-Play"]
	path = The-Android-App-Market-on-Google-Play
	url = https://github.com/MennaHefny25/The-Android-App-Market-on-Google-Play.git
[submodule "Name-Game-Gender-Prediction-using-Sound"]
	path = Name-Game-Gender-Prediction-using-Sound
	url = https://github.com/MennaHefny25/Name-Game-Gender-Prediction-using-Sound.git
[submodule "A-New-Era-of-Data-Analysis-in-Baseball"]
	path = A-New-Era-of-Data-Analysis-in-Baseball
	url = https://github.com/MennaHefny25/A-New-Era-of-Data-Analysis-in-Baseball.git
[submodule "A-Visual-History-of-Nobel-Prize-Winners"]
	path = A-Visual-History-of-Nobel-Prize-Winners
	url = https://github.com/MennaHefny25/A-Visual-History-of-Nobel-Prize-Winners.git
